/* libre-franklin-100 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-franklin-200 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-franklin-600 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-franklin-100italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-franklin-200italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-200italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-200italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-franklin-italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-franklin-600italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('./libre-franklin-v11-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./libre-franklin-v11-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face{
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: local(''),
       url('./SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
       url('./SourceCodePro-ExtraLight.otf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: local(''),
       url('./SourceCodePro-ExtraLightIt.ttf.woff2') format('woff2'),
       url('./SourceCodePro-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: local(''),
       url('./SourceCodePro-Regular.ttf.woff2') format('woff2'),
       url('./SourceCodePro-Regular.otf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: local(''),
       url('./SourceCodePro-It.ttf.woff2') format('woff2'),
       url('./SourceCodePro-It.otf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: local(''),
       url('./SourceCodePro-Semibold.ttf.woff2') format('woff2'),
       url('./SourceCodePro-Semibold.otf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: local(''),
       url('./SourceCodePro-SemiboldIt.ttf.woff2') format('woff2'),
       url('./SourceCodePro-SemiboldIt.otf.woff') format('woff');
}

body {
    margin-left: 2.5%;
    font-family: 'Libre Franklin', Verdana, sans-serif;
    padding: 0;
    height: 100%;
}

h1 { font-weight: 400; text-transform: capitalize; margin-left: 0;}
h2 { font-weight: 200; margin-left: 0;}
h3 { font-weight: 100; margin-left: 0;}
p { margin-left: 0; }
table { width: 95%; border-collapse: collapse; }
tr { white-space:nowrap; }
td, th {
    font-family: 'Source Code Pro', fixed, sans-serif;
    width: 4rem;
    height: 1.2rem;
    border: 1px solid #ccc;
    text-align: center;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.8rem;
}
th { background: lightblue;  border-color: white; }
td:hover { background-color: #9CDCFE; }
th.la, td.la { text-align: left; }
th.ra, td.ra { text-align: right; }
a { color: #0c2d82; }
b { font-weight: 600; }

.no-decor { text-decoration: none; }
.nd { text-decoration: none; }
a.apnd { text-decoration: none;  color: #090; font-weight: 600; font-size: 1.1rem; }
a.apnd:hover { text-decoration: none;  color: #0b0; font-weight: 600; font-size: 1.15rem;}
a.rwnd { text-decoration: none;  color: #900; font-weight: 400; font-size: 1.0rem; }
a.rwnd:hover { text-decoration: none;  color: #f00; font-weight: 400; font-size: 1.1rem; }
.leaflet-container {
    height: 640px;
    width: 1080px;
    max-width: 95%;
    max-height: 100%;
    font: 12px/1.5 'Libre Franklin', Verdana, sans-serif;
}
.leaflet-tooltip {
    max-height: 1.1rem;
    padding: 0.1rem;
    pointer-events: auto;
}

#map {
    width: 95%;
    height: 640px;
    border: thin dotted;
}
.alt-pressed #map { cursor: crosshair; }
