<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ICAO Prefix Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/navdb/_/leaflet/libre-franklin-v11-latin-100.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/libre-franklin-v11-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/libre-franklin-v11-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/libre-franklin-v11-latin-100italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/libre-franklin-v11-latin-200italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/libre-franklin-v11-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/libre-franklin-v11-latin-600italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/SourceCodePro-ExtraLight.ttf.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/SourceCodePro-ExtraLightIt.ttf.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/SourceCodePro-Regular.ttf.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/SourceCodePro-It.ttf.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/SourceCodePro-Semibold.ttf.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/navdb/_/leaflet/SourceCodePro-SemiboldIt.ttf.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/navdb/_/leaflet/leaflet.min.css">
    <link rel="stylesheet" href="/navdb/_/leaflet/custom.min.css">
    <script src="/navdb/_/leaflet/leaflet.min.js"></script>
</head>
<body>
<header>
    <p>HOME <a href="BASE_URL/PATH/" class="no-decor">NavDB</a>
            - <a href="BASE_URL/PATH/ICAO/" class="no-decor">ICAO</a>
            / <a href="BASE_URL/PATH/ANCHOR" class="no-decor">Prefix Index</a></p>
</header>
<main>
    <section>
        <h1>Prefix Index</h1>
        <div id="map"></div>
        <h2>Satellite Imagery &amp; More</h2>
        <p>NUMBER_REGIONS regions with TOTAL_AIRPORTS total airports available:</p>
        <table>
            DATA_COLS
            DATA_ROWS
        </table>
    </section>
</main>
<footer>
    <address><p> </p></address>
</footer>
</body>
</html>
